nb-card{
    margin: 0px;
    padding: 0px;
}

.my-select{
    height: 40px;
    // border: 1px greenyellow solid;
}
.my-button{
    text-align: center;
    height: 40px;
    padding-top: 3px;
    // 导入文件
    .import{
        display:none
    }
    
}

.device_manage_table{
    margin-top: 20px;
}


// 导入---导出
.my-button{
  text-align: center;
  height: 40px;
  padding-top: 3px;
  // 导入文件
  .import{
      display:none
  }
  
}

// .smart-table-container{
//   overflow-x: scroll;
// }

div{
    .layui-form-label{
        padding-left: 0px;
    }
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;

    input{
        border-color: #00d68f;
        line-height: 1.5rem;
        border-radius: 0.25rem;
        width: 160px;
    }
    input:hover{
        border-color: #00d68f;
        border-radius: 0.25rem;
        line-height: 1.5rem;
        cursor: pointer;
        background-color: #edf1f7;
        
    }
}


// 按钮上级目录
.anniu_select{
    // display: block;
    width: 100%;
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
    border-color: #e6e6e6;
}

.ele5{
    height: auto;
    width: 250%;
    // width: 100%;
    display: none;
    position: absolute;
    top:100%;
    background-color: rgb(251, 251, 251);
    border:1px solid rgba(137, 135, 135, 0);
    z-index: 100;
}